* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

img {
  margin: 0 auto;
  width: 100%;
}

h2 {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

strong {
  font-weight: bold;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

/* About Hero section*/
.about {
  background-image: url(../images/heroimage2.png);
  display: flex;
  float: right;
  height: 37rem;
  justify-content: space-between;
  padding-top: 50px;
  width: 100%;
}

.about-image {
  /*display: inline;*/
  display: none;
  height: 100%;
  width: 18rem;
}

.about-text {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.about-summary {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  padding-top: .6rem;
  width: 32rem;
}

h1 {
  color: #0E1F4F;
  display: inline;
  font-family: 'Playfair Display', serif;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: bold;
  height: 20px;
  left: 150px;
  line-height: 100%;
  padding-right: 2rem;
  top: 65px;
  width: 188.89px;
}

/* My story section*/
.about-title {
  background-image: url(../images/portfolio-rectangle.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 36% 41%;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin-top: 43rem;
  text-align: center;
}

b {
  font-weight: 400;
}

.discovering-design {
  padding-top: 4rem;
}

h3 {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 32rem;
}

.discovering-design-text {
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 32rem;
}

.discovering-design {
  margin-bottom: 4rem;
}

.design-motivation-text {
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 32rem;
}

.design-motivation {
  margin-bottom: 4rem;
}

.choosing-design-text {
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 32rem;
}

.choosing-design-text {
  margin-bottom: 2rem;
}

.meeting-dad-pics {
  margin-bottom: 4rem;
}

.image-text {
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 32rem;
}

/*Avid Learner Section*/
.avid-learner-text {
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 32rem;
}

.snowboard {
  margin-bottom: 4rem;
}

/*Team Player section*/
.team-player-text {
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 32rem;
}

.manpreet-eggtoss {
  margin-bottom: 4rem;
}

/*Adventure Section*/
.adventure-text {
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 32rem;
}

.paris-image {
  margin-bottom: 5rem;
}

/**Footer**/
.footer {
  background-image: url(../images/heroimage2.png);
  width: 100%;
}

.footer-title {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  text-align: center;
}

.footer-body {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight: normal;
  padding-top: .8rem;
  text-align: center;
}

.footer-text {
  text-align: center;
}

.meet-me {
  background: #FF3E55;
  border-radius: .2rem;
  border-style: none;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
  height: 3.5rem;
  left: 12rem;
  left: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0;
  position: relative;
  width: 18rem;
}

.meet-me {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.meet-me:hover {
  background-color: white;
  border-color: #FF3E55;
  border-style: solid;
  border-width: medium;
  color: #FF3E55;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 2rem;
  position: relative;
  text-align: center;
  width: auto;
}

.fa-linkedin {
  color: black;
  font-size: 3rem;
}

.fa-github-square {
  color: black;
  font-size: 3rem;
}

.fa-instagram {
  color: black;
  font-size: 3rem;
}

.fa-envelope {
  color: black;
  font-size: 3rem;
}

.fa-behance-square {
  color: black;
  font-size: 3rem;
}

h6 {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-weight: lighter;
  padding-bottom: 1rem;
  text-align: center;
}

/*Responsive for Ipad*/
@media screen and (min-width: 42rem) {
  h1 {
    font-size: 5rem;
  }

  /* About Hero section*/
  .about {
    height: 50rem;
    margin-bottom: 10rem;
  }

  .about-image {
    display: inline;
    padding-top: .3rem;
    width: 30rem;
  }

  .about-text {
    margin-left: 2rem;
    margin-right: auto;
    margin-top: 4rem;
  }

  .about-summary {
    font-size: 4rem;
    line-height: 140%;
    padding-bottom: .1rem;
    padding-top: .5rem;
    width: 45rem;
  }

  /* My story section*/
  h2 {
    font-size: 3.4rem;
    margin-top: 0rem;
  }

  .about-title {
    background-size: 21% 8%;
    color: #0E1F4F;
    font-size: 3.5rem;
    margin-top: 40rem;
  }

  .discovering-design {
    padding-top: 0rem;
  }

  h3 {
    color: #0E1F4F;
    font-family: 'Playfair Display', serif;
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
    margin-top: 5rem;
    width: 45rem;
  }

  .discovering-design-text {
    font-size: 2rem;
    margin-bottom: 2rem;
    width: 45rem;
  }

  .discovering-design {
    margin-bottom: 5rem;
  }

  .design-motivation-text {
    font-size: 2rem;
    margin-bottom: 2rem;
    width: 45rem;
  }

  .design-motivation {
    margin-bottom: 1rem;
  }

  .choosing-design-text {
    font-size: 2rem;
    width: 45rem;
  }

  .choosing-design-text {
    margin-bottom: 4rem;
  }

  .golden-temple {
    display: flex;
    margin-bottom: 1rem;
    width: 80%;
  }

  .image-text {
    color: #0E1F4F;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 45rem;
  }

  /*Avid Learner Section*/
  .avid-learner-text {
    font-size: 2rem;
    width: 45rem;
  }

  .wakeboarding {
    margin-bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .scuba {
    margin-bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
    margin-right: auto;
    max-height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .surf {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    object-fit: cover;
    width: 80%;
    width: 100%;
  }

  .snowboard {
    margin-bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    object-fit: cover;
    width: 118.5%;
  }

  .learner-pics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40%;
    height: 100%;
    margin-left: 8rem;
    margin-right: 8rem;
    overflow: hidden;
  }

  /*Team Player section*/
  .team-player-text {
    font-size: 2rem;
    width: 45rem;
  }

  .team-pics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40%;
    height: 100%;
    margin-left: 8rem;
    margin-right: 8rem;
    overflow: hidden;
  }

  .manpreet-eggtoss {
    margin-bottom: 4rem;
  }

  /*Adventure Section*/
  .adventure-text {
    font-size: 2rem;
    width: 45rem;
  }

  .adventure-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40%;
    height: 100%;
    margin-left: 8rem;
    margin-right: 8rem;
    overflow: hidden;
  }

  .china-image {
    margin-bottom: 2rem;
  }

  .venice-image {
    margin-bottom: 2rem;
  }

  .pisa-image {
    margin-bottom: 2rem;
    width: 106.5%;
  }

  .paris-image {
    margin-bottom: 4rem;
    width: 100%;
  }

  /*Footer*/
  .footer-title {
    font-size: 2.4rem;
    padding-top: 4rem;
  }

  .footer-body {
    font-size: 2rem;
    padding-top: 1.5rem;
  }

  .meet-me {
    display: inline-block;
    font-size: 1.8rem;
    height: 4rem;
    margin-top: 1.2rem;
    width: 20rem;
  }

  .icons {
    display: flex;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
  }

  .fa-linkedin {
    font-size: 4rem;
  }

  .fa-github-square {
    font-size: 4rem;
  }

  .fa-instagram {
    font-size: 4rem;
  }

  .fa-envelope {
    font-size: 4rem;
  }

  .fa-behance-square {
    font-size: 4rem;
  }

  h6 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }

  /* About Hero section*/
  .about {
    height: 57.9rem;
    margin-bottom: 10rem;
  }

  .about-image {
    display: inline;
    padding-top: .3rem;
    width: 35rem;
  }

  .about-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
  }

  .about-summary {
    font-size: 4.5rem;
    line-height: 140%;
    padding-bottom: .1rem;
    padding-top: .5rem;
    width: 55rem;
  }

  /* My story section*/
  h2 {
    font-size: 4rem;
    margin-top: 0rem;
  }

  .about-title {
    background-size: 18% 5%;
    color: #0E1F4F;
    font-size: 3.5rem;
    margin-top: 40rem;
  }

  .discovering-design {
    padding-top: 0rem;
  }

  h3 {
    color: #0E1F4F;
    font-family: 'Playfair Display', serif;
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
    margin-top: 5rem;
    width: 45rem;
  }

  .image-text {
    color: #0E1F4F;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 55rem;
  }
}

/* Responsive for Desktop*/
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 7rem;
  }

  /* About Hero section*/
  .about {
    height: 73rem;
  }

  .about-image {
    width: 45.1rem;
  }

  .about-text {
    margin-bottom: auto;
    margin-left: auto;
    margin-top: auto;
  }

  .about-summary {
    font-size: 6rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 70rem;
  }

  /* My story section*/
  h2 {
    font-size: 4rem;
    margin-top: 0rem;
  }

  .about-title {
    background-size: 13.5% 7%;
    margin-top: 65rem;
  }

  .design-article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 65%;
    height: 100%;
    overflow: hidden;
  }

  .discovering-design {
    padding-top: 5rem;
  }

  h3 {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
    width: 55rem;
  }

  .discovering-design-text {
    font-size: 2rem;
    margin-bottom: 2rem;
    width: 55rem;
  }

  .discovering-design {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .design-motivation-text {
    font-size: 2rem;
    margin-bottom: 2rem;
    width: 55rem;
  }

  .design-motivation {
    margin-top: 5rem;
  }

  .choosing-design {
    margin-top: 1rem;
  }

  .choosing-design-text {
    font-size: 2rem;
    margin-bottom: 4rem;
    width: 55rem;
  }

  .golden-temple {
    display: flex;
    width: 40%;
  }

  .image-text {
    margin-bottom: 15rem;
  }

  /*Avid Learner Section*/
  .avid-learner-text {
    font-size: 2rem;
    width: 55rem;
  }

  .learner-pics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40%;
    height: 100%;
    margin-bottom: 10rem;
    margin-left: 30rem;
    margin-right: 30rem;
    overflow: hidden;
  }

  /*Team Player section*/
  .team-player-text {
    font-size: 2rem;
    width: 55rem;
  }

  .team-pics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40%;
    height: 100%;
    margin-bottom: 10rem;
    margin-left: 30rem;
    margin-right: 30rem;
    overflow: hidden;
  }

  .manpreet-boat {
    margin-bottom: 2rem;
  }

  .manpreet-eggtoss {
    margin-bottom: 4rem;
  }

  /*Adventure Section*/
  .adventure-text {
    font-size: 2rem;
    width: 55rem;
  }

  .adventure-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40%;
    height: 100%;
    margin-left: 30rem;
    margin-right: 30rem;
    overflow: hidden;
  }

  .china-image {
    margin-bottom: 2rem;
  }

  .venice-image {
    margin-bottom: 2rem;
  }

  .pisa-image {
    margin-bottom: 2rem;
    width: 106.5%;
  }

  .paris-image {
    margin-bottom: 4rem;
    width: 100%;
  }

  /*Footer*/
  .footer-title {
    font-size: 3.4rem;
    padding-top: 4rem;
  }

  .footer-body {
    font-size: 2.4rem;
    padding-top: 1.8rem;
  }

  .meet-me {
    display: inline-block;
    font-size: 1.8rem;
    height: 4rem;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 0;
    width: 20rem;
  }

  .icons {
    margin-top: 2rem;
  }

  .fa-linkedin {
    font-size: 4rem;
  }

  .fa-github-square {
    font-size: 4rem;
  }

  .fa-instagram {
    font-size: 4rem;
  }

  .fa-envelope {
    font-size: 4rem;
  }

  .fa-behance-square {
    font-size: 4rem;
  }

  h6 {
    font-size: 2rem;
  }

  .footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
  }
}
