* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

img {
  margin: 0 auto;
  width: 100%;
}

/** CSS Grid Setup**/
.container {
  display: grid;
  grid-template-areas:
    "header"
    "title"
    "project"
    "project-summary"
    "project-details-column1"
    "project-details-column2"
    "project-details-column3"
    "problems"
    "solution"
    "assumptions"
    "research"
    "competitive-analysis"
    "user-persona1"
    "user-persona2"
    "user-stories-flows"
    "sketches"
    "wireframes"
    "user-tests1"
    "branding-text"
    "logo"
    "colors"
    "fonts"
    "tests2"
    "iterations"
    "final-product"
    "features"
    "conclusion";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
.title {
  grid-area: title;
}
.project {
  grid-area: project;
}
.project-summary {
  grid-area: project-summary;
}
.header {
  grid-area: header;
}
.project-details-column1 {
  grid-area: project-details-column1;
}
.project-details-column2 {
  grid-area: project-details-column2;
}
.project-details-column3 {
  grid-area: project-details-column3;
}
.problems {
  grid-area: problems;
}
.solution {
  grid-area: solution;
}
.assumptions {
  grid-area: assumptions;
}
.research {
  grid-area: research;
}
.competitive-analysis {
  grid-area: competitive-analysis;
}
.user-persona1 {
  grid-area: user-persona1;
}
.user-persona2 {
  grid-area: user-persona2;
}
.user-stories-flows {
  grid-area: user-stories-flows;
}
.sketches {
  grid-area: sketches;
}
.wireframes {
  grid-area: wireframes;
}
.user-tests1 {
  grid-area: user-tests1;
}
.branding-text {
  grid-area: branding-text;
}
.logo {
  grid-area: logo;
}
.colors {
  grid-area: colors;
}
.fonts {
  grid-area: fonts;
}
.tests2 {
  grid-area: tests2;
}
.iterations {
  grid-area: iterations;
}
.final-product {
  grid-area: final-product;
}
.features {
  grid-area: features;
}
.conclusion {
  grid-area: conclusion;
}

/* Project- Intro*/
.project-intro {
  padding-top: 50px;
}

h1 {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 4rem;
  background-image: url(/images/portfolio-rectangle.png);
  background-repeat: no-repeat;
  background-size: 23% 40%;
  background-position: bottom;

}
.cloudful {
  width: 100%;
  margin-top: 2rem;
}



/** Responsive**/
@media screen and (min-width: 420px;) {

  /*top hero section*/
  .container {
    margin: 0 auto%;
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    *margin: 0 10%;
    width: 80%;
  }
}
