* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

img {
  width: 100%;
  margin: 0 auto;
}

.animated {
  visibility: hidden;
  animation-duration: 2s;
  animation-delay: .1s;
}

.animated.slideInLeft {
  visibility: visible;
}

h2 {
  width: 33rem;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

b {
  font-weight: bold;
}

strong {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

/** CSS Grid Setup**/
.container {
  width: 100%;
  margin: 0 auto;
}

/* Project- Intro*/
.project-intro {
  padding-top: 50px;
}

h1 {
  margin-top: 4rem;
  background-image: url(../images/portfolio-rectangle.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 37% 41%;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.cloudful {
  display: block;
  width: 90%;
  margin-top: 2rem;
}

.cloudful-prototype {
  margin-right: auto;
  margin-left: auto;
}

.view-prototype {
  display: block;
  width: 18rem;
  height: 4rem;
  margin-top: 1.2rem;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-radius: .2rem;
  background: #FF3E55;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.view-prototype {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.view-prototype:hover {
  border-width: medium;
  border-style: solid;
  border-color: #FF3E55;
  background-color: white;
  color: #FF3E55;
}

.summary-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 4rem;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
  text-align: left;
}

/** Roles, Deliverables, & Tools**/
.specs {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background: #d6fbfc;
  text-align: center;
}

.specs-text {
  margin-top: 4rem;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bold;
}

.item-text {
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

.list-items {
  margin-top: 1rem;
}

/* Problems , Solution, & Assumption*/
.list-problems {
  margin-top: 1rem;
}

.dashed-list {
  width: 30rem;
  margin-top: 1.6rem;
  margin-right: auto;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
  list-style: square;
  text-align: left;
}

.solution-text {
  width: 35rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
  text-align: left;
}

.list-assumptions {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.process {
  margin-top: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #d6fbfc;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

/*Survey results*/
.survey-section {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background: #d6fbfc;
}

.percentages {
  margin-top: 3rem;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.survey-intro-text {
  width: 33rem;
  margin-top: 1.2rem;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
  text-align: left;
}

.survey-text {
  width: 20rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
  text-align: center;
}

/*Competitive Analysis*/
.google-dropbox {
  margin-top: 2rem;
}

.analysis-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
  text-align: left;
}

/*User Personas*/
.persona-paratext {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
  text-align: left;
}

.persona-title {
  width: 33rem;
  margin-top: 4rem;
  margin-right: auto;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
}

h5 {
  width: 33rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.male-persona {
  display: flex;
  width: 87%;
}

.female-persona {
  display: flex;
  width: 87%;
}

.persona-text {
  width: 33rem;
  margin-top: .2rem;
  margin-right: auto;
  margin-bottom: .5rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.user-persona1 {
  margin-bottom: 5rem;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

blockquote {
  position: relative;
  width: 87%;
  margin: 20px auto;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #0E1F4F;
  background: #d6fbfc;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.8em;
  font-style: italic;
  line-height: 1.6;
}

blockquote::before {
  position: absolute;
  top: -10px;
  left: 10px;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  content: "\201C";
}

blockquote::after {
  content: '';
}

blockquote span {
  display: block;
  margin-top: 1em;
  color: #333333;
  font-style: normal;
  font-weight: bold;
}

/*User Stories & Flows*/
.user-stories-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  overflow: hidden;
}

.view-user-flows.invis {
  display: none;
}

.view-user-stories {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 4rem;
  margin-top: 1.2rem;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-radius: .2rem;
  background: #FF3E55;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.view-user-stories {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.view-user-stories:hover {
  border-width: medium;
  border-style: solid;
  border-color: #FF3E55;
  background-color: white;
  color: #FF3E55;
}

.view-user-flows {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 4rem;
  margin-top: 1.2rem;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-radius: .2rem;
  background: #FF3E55;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.view-user-flows {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.view-user-flows:hover {
  border-width: medium;
  border-style: solid;
  border-color: #FF3E55;
  background-color: white;
  color: #FF3E55;
}

.view-sitemap {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 4rem;
  margin-top: 1.2rem;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-radius: .2rem;
  background: #FF3E55;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.view-sitemap {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.view-sitemap:hover {
  border-width: medium;
  border-style: solid;
  border-color: #FF3E55;
  background-color: white;
  color: #FF3E55;
}

/* Sketches*/
.sketches-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

/*Wireframes*/
.wireframe-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

.view-wireframes {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 4rem;
  margin-top: 1.2rem;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-radius: .2rem;
  background: #FF3E55;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.view-wireframes {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.view-wireframes:hover {
  border-width: medium;
  border-style: solid;
  border-color: #FF3E55;
  background-color: white;
  color: #FF3E55;
}

/*User Tests Round 1*/
.user-test1-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

.video1 {
  display: flex;
  justify-content: center;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.view-user-tests1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 4rem;
  margin-top: 1.2rem;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-radius: .2rem;
  background: #FF3E55;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.view-user-tests1 {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.view-user-tests1:hover {
  border-width: medium;
  border-style: solid;
  border-color: #FF3E55;
  background-color: white;
  color: #FF3E55;
}

.feedback-title {
  width: 33rem;
  margin-top: 4rem;
  margin-right: auto;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
}

.list-feedback {
  margin-top: 1rem;
}

/*Branding*/
.branding-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

/*Logo*/
.logo-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

.color-logo {
  margin-top: 2rem;
}

/*Color Palette*/
.color-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

.system-colors {
  margin-top: 2rem;
}

.view-style-guide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 4rem;
  margin-top: 1.2rem;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-radius: .2rem;
  background: #FF3E55;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.view-style-guide {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.view-style-guide:hover {
  border-width: medium;
  border-style: solid;
  border-color: #FF3E55;
  background-color: white;
  color: #FF3E55;
}

/*Fonts*/
.font-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

/*User Testing round 2*/
.ab-test-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

.labels {
  width: 33rem;
  margin-top: 5rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 150%;
}

.first-homepage-image {
  display: flex;
  align-items: center;
  width: 100%;
}

.second-homepage-image {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.view-mockups {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 4rem;
  margin-top: 1.2rem;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-left: auto;
  border-style: none;
  border-radius: .2rem;
  background: #FF3E55;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.view-mockups {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.view-mockups:hover {
  border-width: medium;
  border-style: solid;
  border-color: #FF3E55;
  background-color: white;
  color: #FF3E55;
}

.test-image-3 {
  margin-bottom: 2rem;
}

.user-test2-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

.video2 {
  display: flex;
  justify-content: center;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.view-user-test2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 4rem;
  margin-top: 1.2rem;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-radius: .2rem;
  background: #FF3E55;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.view-user-test2 {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.view-user-test2:hover {
  border-width: medium;
  border-style: solid;
  border-color: #FF3E55;
  background-color: white;
  color: #FF3E55;
}

.iteration1 {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.iteration2 {
  display: none;
}

.iteration-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

/*Final Product*/
.final-product-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

.cloudful-screens {
  margin-top: 2rem;
}

/*Features*/
.features {
  margin-top: 10rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #d6fbfc;
}

.features-text {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

.feature1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.feature2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.feature3 {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.feature-title {
  width: 33rem;
  margin-right: auto;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 150%;
}

.feature-text {
  width: 33rem;
  margin-top: .5rem;
  margin-right: auto;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

/*Conclusion*/
.conclusion {
  width: 33rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-bottom: 4rem;
  margin-left: auto;
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  line-height: 150%;
}

/**Footer**/
.footer {
  width: 100%;
  background-image: url(../images/heroimage2.png);
}

.footer-title {
  padding-top: 2rem;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.footer-body {
  padding-top: .8rem;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
}

.footer-text {
  text-align: center;
}

.meet-me {
  display: inline-block;
  position: relative;
  left: 12rem;
  left: auto;
  width: 18rem;
  height: 4rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  border-style: none;
  border-radius: .2rem;
  background: #FF3E55;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.meet-me {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.meet-me:hover {
  border-width: medium;
  border-style: solid;
  border-color: #FF3E55;
  background-color: white;
  color: #FF3E55;
}

.icons {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: auto;
  margin: 2rem;
  list-style: none;
  text-align: center;
}

.fa-linkedin {
  color: black;
  font-size: 3rem;
}

.fa-github-square {
  color: black;
  font-size: 3rem;
}

.fa-instagram {
  color: black;
  font-size: 3rem;
}

.fa-envelope {
  color: black;
  font-size: 3rem;
}

.fa-behance-square {
  color: black;
  font-size: 3rem;
}

h6 {
  padding-bottom: 1rem;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-weight: lighter;
  text-align: center;
}

/** Responsive for ipad**/
@media screen and (min-width: 42rem) {

  /*top hero section*/
  .container {
    width: 100%;
    margin: 0 auto%;
  }

  h1 {
    margin-top: 10rem;
    background-size: 22% 41%;
    font-size: 3.4rem;
  }

  h2 {
    width: 45rem;
    margin-top: 8rem;
    font-size: 2.4rem;
  }

  .cloudful {
    width: 60%;
  }

  .view-prototype {
    width: 20rem;
    height: 4rem;
    font-size: 1.8rem;
  }

  .summary-text {
    width: 45rem;
    margin-bottom: 5rem;
    font-size: 2rem;
  }

  /** Roles, Deliverables, & Tools**/
  .specs-text {
    font-size: 2.4rem;
  }

  .item-text {
    font-size: 2rem;
  }

  .specs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
  }

  .item {
    font-size: 2rem;
  }

  .list-items {
    width: auto;
    margin-top: 1rem;
  }

  /* Problems , Solution, & Assumption*/
  .list-problems {
    margin-top: 1rem;
  }

  .dashed-list {
    width: 45rem;
    font-size: 2rem;
  }

  .solution-text {
    width: 45rem;
    margin-top: 1rem;
    font-size: 2rem;
  }

  .list-assumptions {
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  .process {
    margin-top: 10rem;
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
  }

  /*Survey results*/
  .survey-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    height: 100%;
    padding-top: 7rem;
    padding-bottom: 7rem;
    overflow: hidden;
  }

  .survey-intro-text {
    width: 45rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2rem;
  }

  .percentages {
    margin-top: 4rem;
    font-size: 3.4rem;
  }

  .survey-text {
    width: 25rem;
    margin-top: 1rem;
    font-size: 2rem;
  }

  /*Competitive Analysis*/
  .analysis-text {
    width: 45rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2rem;
  }

  .google-dropbox {
    display: flex;
    width: 80%;
  }

  /*User Personas Left off here*/
  .persona-title {
    width: 45rem;
    margin-top: 5rem;
    font-size: 2rem;
    text-align: left;
  }

  .persona-paratext {
    width: 45rem;
    font-size: 2rem;
  }

  h5 {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .male-persona {
    display: flex;
    width: 40%;
  }

  .female-persona {
    display: flex;
    width: 50%;
  }

  .user-persona1 {
    margin-bottom: 10rem;
  }

  .persona-text {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .personas {
    margin-top: 2rem;
  }

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

  blockquote {
    width: 40%;
    font-size: 2em;
  }

  /*User Stories & Flows*/
  .user-stories-text {
    width: 45rem;
    margin-top: 2rem;
    font-size: 2rem;
  }

  .button-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .sitemap-image {
    display: flex;
    width: 80%;
    margin-bottom: 4rem;
  }

  .view-user-stories {
    width: 20rem;
    height: 4rem;
    margin-top: 1.2rem;
    font-size: 1.8rem;
  }

  .view-user-flows.invis {
    display: grid;
  }

  .view-user-flows {
    width: 20rem;
    height: 4rem;
    margin-top: 1.2rem;
    color: white;
    font-size: 1.8rem;
  }

  .view-sitemap {
    display: none;
  }

  /* Sketches*/
  .sketches-text {
    width: 45rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .sketch-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    margin-top: 4rem;
    overflow: hidden;
  }

  .sketch1 {
    display: flex;
    width: 200px;
    margin-top: 0;
  }

  .sketch2 {
    width: 80%;
  }

  .sketch3 {
    width: 80%;
  }

  /*Wireframes*/
  .wireframe-text {
    width: 45rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 2rem;
  }

  .view-wireframes {
    width: 20rem;
    height: 4rem;
    margin-top: 1.2rem;
    font-size: 1.8rem;
  }

  /*User Tests Round 1*/
  .user-test1-text {
    width: 45rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2rem;
  }

  .video1 {
    width: 80%;
  }

  .view-user-tests1 {
    width: 20rem;
    height: 4rem;
    margin-top: 1rem;
    font-size: 1.8rem;
  }

  .feedback-title {
    width: 45rem;
    margin-top: 4rem;
    color: #0E1F4F;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
  }

  .list-feedback {
    margin-top: 1rem;
  }

  /*Branding*/
  .branding-text {
    width: 45rem;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 2rem;
  }

  /*Logo*/
  .logo-text {
    width: 45rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2rem;
  }

  .black-white-logo {
    display: flex;
    width: 80%;
  }

  .color-logo {
    display: flex;
    width: 80%;
    margin-top: 2rem;
  }

  /*Color Palette*/
  .color-text {
    width: 45rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 1.8rem;
  }

  .brand-color-palette {
    display: flex;
    width: 80%;
  }

  .system-colors {
    display: flex;
    width: 80%;
    margin-top: 2rem;
  }

  .view-style-guide {
    width: 20rem;
    height: 4rem;
    margin-top: 1.2rem;
    font-size: 1.8rem;
  }

  /*Fonts*/
  .font-text {
    width: 45rem;
    margin-top: 1rem;
    font-size: 2rem;
  }

  /*User Testing round 2*/
  .ab-test-text {
    width: 45rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .labels {
    width: 45rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  .test-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    height: 100%;
    overflow: hidden;
  }

  .first-homepage-image {
    width: 85%;
  }

  .second-homepage-image {
    width: 94%;
    margin-top: 0;
  }

  .view-mockups {
    width: 28rem;
    margin-top: 2rem;
    font-size: 1.8rem;
  }

  .test-images-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    height: 100%;
    overflow: hidden;
  }

  .user-test2-text {
    width: 45rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .video2 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .view-user-test2 {
    width: 20rem;
    height: 4rem;
    margin-top: 1.2rem;
    font-size: 1.8rem;
  }

  .iteration1 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .iteration-text {
    width: 45rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2rem;
  }

  /*Final Product*/
  .cloudful-screens {
    margin-top: 2rem;
  }

  .final-product-text {
    width: 45rem;
    font-size: 2rem;
  }

  /*Features*/
  .feature1 {
    display: flex;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .feature2 {
    display: flex;
    width: 80%;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .feature3 {
    display: flex;
    width: 80%;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .features-text {
    width: 45rem;
    font-size: 2rem;
  }

  .feature-title {
    width: 45rem;
    font-size: 2rem;
    text-align: left;
  }

  .feature-text {
    width: 45rem;
    margin-top: .5rem;
    font-size: 2rem;
    text-align: left;
  }

  /*Conclusion*/
  .conclusion {
    width: 45rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  /*Footer*/
  .footer-title {
    padding-top: 4rem;
    font-size: 2.4rem;
  }

  .footer-body {
    padding-top: 1.5rem;
    font-size: 2rem;
  }

  .meet-me {
    display: inline-block;
    width: 20rem;
    height: 4rem;
    margin-top: 1.2rem;
    font-size: 1.8rem;
  }

  .icons {
    display: flex;
    width: 50rem;
    margin: 2rem;
    margin-right: auto;
    margin-left: auto;
  }

  .fa-linkedin {
    font-size: 4rem;
  }

  .fa-github-square {
    font-size: 4rem;
  }

  .fa-instagram {
    font-size: 4rem;
  }

  .fa-envelope {
    font-size: 4rem;
  }

  .fa-behance-square {
    font-size: 4rem;
  }

  h6 {
    font-size: 1.8rem;
  }

  .footer {
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1020px) {
  h1 {
    background-size: 16% 41%;
  }

  .sketch1 {
    width: 78%;
  }

  .button-grid {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}

/** Responsive for Desktop**/
@media screen and (min-width: 1200px) {

  /*top hero section*/
  h1 {
    margin-top: 10rem;
    background-size: 15% 41%;
    font-size: 4rem;
  }

  h2 {
    width: 55rem;
    margin-top: 10rem;
    font-size: 2.4rem;
  }

  .cloudful {
    width: 50%;
  }

  .summary-title {
    margin-top: 10rem;
  }

  .summary-text {
    width: 55rem;
    margin-bottom: 10rem;
    font-size: 2.4rem;
  }

  /** Roles, Deliverables, & Tools**/
  .specs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
  }

  .specs-text {
    margin-top: 5rem;
    font-size: 2.4rem;
  }

  .item {
    font-size: 2.4rem;
  }

  .item-text {
    font-size: 2.4rem;
  }

  .list-items {
    width: auto;
    margin-top: 1rem;
  }

  /* Problems , Solution, & Assumption*/
  .list-problems {
    margin-top: 1rem;
  }

  .problems {
    margin-top: 5rem;
  }

  .solution {
    margin-top: 5rem;
  }

  .dashed-list {
    width: 55rem;
    margin-top: 1rem;
    font-size: 2.4rem;
  }

  .solution-text {
    width: 55rem;
    margin-top: 1rem;
    font-size: 2.4rem;
  }

  .list-assumptions {
    margin-top: 1rem;
    margin-bottom: 15rem;
  }

  .problems-solution-assumptions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 100%;
    overflow: hidden;
  }

  .process {
    margin-top: 15rem;
    margin-bottom: 15rem;
  }

  /*Survey results*/
  .survey-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    height: 100%;
    overflow: hidden;
  }

  .survey-intro-text {
    width: 55rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2.4rem;
    text-align: left;
  }

  .percentages {
    margin-top: 4rem;
    font-size: 4rem;
  }

  .survey-text {
    width: 25rem;
    margin-top: 2rem;
    font-size: 2.4rem;
  }

  .research {
    margin-bottom: 15rem;
  }

  /*Competitive Analysis*/
  .analysis-text {
    width: 55rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    font-size: 2.4rem;
  }

  .google-dropbox {
    display: flex;
    width: 50%;
    margin-bottom: 15rem;
  }

  /*User Personas Left off here*/
  .persona-paratext {
    width: 55rem;
    font-size: 2.4rem;
  }

  .persona-title {
    width: 55rem;
    margin-top: 5rem;
    font-size: 2.4rem;
  }

  h5 {
    margin-top: 5rem;
    font-size: 2.4rem;
  }

  .male-persona {
    display: flex;
    width: 30%;
  }

  .female-persona {
    display: flex;
    width: 30%;
  }

  .user-persona1 {
    margin-bottom: 10rem;
  }

  .persona-text {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }

  .personas {
    margin-top: 2rem;
  }

  .user-persona2 {
    margin-bottom: 15rem;
  }

  blockquote {
    font-size: 2.4rem;
  }

  blockquote {
    width: 38%;
  }

  /*User Stories & Flows*/
  .user-stories-text {
    width: 55rem;
    margin-top: 1rem;
    font-size: 2.4rem;
  }

  .view-user-stories {
    margin-top: 2rem;
    margin-bottom: 10rem;
  }

  .button-grid {
    margin-right: 27rem;
    margin-left: 27rem;
  }

  .sitemap-image {
    width: 55%;
  }

  .view-user-flows {
    width: 20rem;
    height: 4rem;
    margin-top: 2rem;
    font-size: 1.8rem;
  }

  /* Sketches*/
  .sketches-text {
    width: 55rem;
    margin-top: 1rem;
    font-size: 2.4rem;
  }

  .sketch-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80%;
    margin-top: 10rem;
    overflow: hidden;
  }

  /*Wireframes*/
  .wireframe-text {
    width: 55rem;
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }

  .view-wireframes {
    margin-bottom: 15rem;
  }

  .wireframe-image {
    display: flex;
    width: 60%;
  }

  /*User Tests Round 1*/
  .user-test1-text {
    width: 55rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }

  .video1 {
    width: 50%;
  }

  .view-user-tests1 {
    margin-bottom: 5rem;
  }

  .feedback-title {
    width: 55rem;
    margin-top: 5rem;
    font-size: 2.4rem;
  }

  /*Branding*/
  .branding {
    margin-top: 15rem;
  }

  .branding-text {
    width: 55rem;
    font-size: 2.4rem;
  }

  /*Logo*/
  .logo-text {
    width: 55rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }

  .black-white-logo {
    width: 50%;
  }

  .color-logo {
    width: 50%;
  }

  /*Color Palette*/
  .color-text {
    width: 55rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }

  .brand-color-palette {
    width: 50%;
  }

  .system-colors {
    width: 50%;
  }

  /*Fonts*/
  .font-text {
    width: 55rem;
    margin-bottom: 15rem;
    font-size: 2.4rem;
  }

  /*User Testing round 2*/
  .ab-test-text {
    width: 55rem;
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }

  .labels {
    width: 55rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
    font-size: 2.4rem;
  }

  .test-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    height: 100%;
    overflow: hidden;
  }

  .first-homepage-image {
    width: 70%;
    margin-left: 23rem;
  }

  .second-homepage-image {
    width: 76%;
    margin-top: 0;
  }

  .test-images-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    margin-bottom: 15rem;
    overflow: hidden;
  }

  .view-mockups {
    margin-top: 3rem;
  }

  .test-image-3 {
    width: 79%;
    margin-left: 11rem;
  }

  .test-image-4 {
    width: 80%;
    margin-right: 11rem;
  }

  .user-test2-text {
    width: 55rem;
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }

  .video2 {
    width: 50%;
  }

  .view-user-test2 {
    margin-bottom: 10rem;
  }

  .iteration1 {
    width: 30%;
    margin-top: 5rem;
  }

  .iteration-text {
    width: 55rem;
    font-size: 2.4rem;
  }

  /*Final Product*/
  .final-product-text {
    width: 55rem;
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }

  .cloudful-screens {
    display: flex;
    width: 50%;
    margin-top: 2rem;
  }

  /*Features*/
  .features-text {
    width: 55rem;
    margin-bottom: 5rem;
    font-size: 2.4rem;
  }

  .feature1 {
    display: flex;
    width: 40.5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .feature2 {
    display: flex;
    width: 40.5%;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .feature3 {
    display: flex;
    width: 40.5%;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .feature-title {
    width: 55rem;
    font-size: 2.4rem;
  }

  .feature-text {
    width: 55rem;
    margin-bottom: 8rem;
    font-size: 2.4rem;
  }

  /*Conclusion*/
  .conclusion {
    width: 55rem;
    margin-bottom: 1rem;
    font-size: 2.4rem;
  }

  .conclusion-text {
    margin-bottom: 15rem;
  }

  /*Footer*/
  .footer-title {
    padding-top: 4rem;
    font-size: 3rem;
  }

  .footer-body {
    padding-top: 1.8rem;
    font-size: 2.4rem;
  }

  .meet-me {
    display: inline-block;
    left: auto;
    width: 20rem;
    height: 4rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    font-size: 1.8rem;
  }

  .icons {
    margin-top: 2rem;
  }

  .fa-linkedin {
    font-size: 4rem;
  }

  .fa-github-square {
    font-size: 4rem;
  }

  .fa-instagram {
    font-size: 4rem;
  }

  .fa-envelope {
    font-size: 4rem;
  }

  .fa-behance-square {
    font-size: 4rem;
  }

  h6 {
    font-size: 2rem;
  }

  .footer {
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 87rem) {

  /*top hero section*/
  h1 {
    margin-top: 10rem;
    background-size: 13.5% 41%;
    font-size: 4rem;
  }

  .button-grid {
    margin-right: 27rem;
    margin-left: 27rem;
  }
}
