html {
  font-size: 10px;
}

body {
  font-size: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#feedback-page {
  text-align: center;
}

#text-feedback {
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  width: 80%;
}

#form-main {
  float: left;
  padding-top: 30px;
  width: 100%;
}

#form-div {
  background-color: #3c3c3c;
  float: left;
  left: 50%;
  margin-left: -260px;
  margin-top: 5rem;
  padding-bottom: 50px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  position: absolute;
  width: 450px;
}

.feedback-input {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #fbfbfb;
  border: 3px solid #fbfbfb;
  border-radius: 0;
  box-sizing: border-box;
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
  opacity: 0.9;
  padding: 13px 13px 13px 54px;
  width: 100%;
}

.feedback-input:focus {
  background: #fff;
  border: 3px solid #F8C504;
  box-shadow: 0;
  color: #0E1F4F;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  border: #30aed6 solid 3px;
  color: #30aed6;
}

/* Icons ---------------------------------- */
#name {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-position: 11px 8px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

#name:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

#email {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-position: 11px 8px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

#email:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-position: 11px 8px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

#comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-position: 11px 8px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

textarea {
  height: 150px;
  line-height: 150%;
  width: 100%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color: white;
}

#button-blue {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background-color: #FF3E55;
  border: #FF3E55 solid 4px;
  color: white;
  cursor: pointer;
  float: left;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 22px;
  transition: all 0.3s;
  width: 100%;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #FF3E55;
}

.submit:hover {
  color: #3498db;
}

.ease {
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  -webkit-transition: .3s ease;
  background-color: #fbfbfb;
  border-top: 3px #3c3c3c solid;
  height: 76px;
  transition: .3s ease;
  width: 0px;
}

.submit:hover .ease {
  background-color: white;
  width: 100%;
}

@media only screen and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-left: 0;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    width: 88%;
  }
}

/**Footer**/
.footer {
  background-image: url(../images/heroimage2.png);
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  position: relative;
  top: 600px;
  width: 100%;
}

.footer-title {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  text-align: center;
}

.footer-body {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight: normal;
  padding-top: .8rem;
  text-align: center;
}

.footer-text {
  text-align: center;
}

.meet-me {
  background: #FF3E55;
  border-radius: .2rem;
  border-style: none;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
  height: 3.5rem;
  left: 12rem;
  left: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0;
  position: relative;
  width: 18rem;
}

.meet-me {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.meet-me:hover {
  background-color: white;
  border-color: #FF3E55;
  border-style: solid;
  border-width: medium;
  color: #FF3E55;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 2rem;
  position: relative;
  text-align: center;
  width: auto;
}

.fa-linkedin {
  color: black;
  font-size: 3rem;
}

.fa-github-square {
  color: black;
  font-size: 3rem;
}

.fa-instagram {
  color: black;
  font-size: 3rem;
}

.fa-envelope {
  color: black;
  font-size: 3rem;
}

.fa-behance-square {
  color: black;
  font-size: 3rem;
}

h6 {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-weight: lighter;
  padding-bottom: 1rem;
  text-align: center;
}

@media screen and (min-width: 42rem) {
  #form-div {
    margin-top: 10rem;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    position: absolute;
    width: 450px;
  }

  .footer-title {
    color: #0E1F4F;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 2rem;
    text-align: center;
  }

  .footer-body {
    color: #0E1F4F;
    font-family: 'Playfair Display', serif;
    font-size: 2.4rem;
    font-weight: normal;
    padding-top: 2rem;
    text-align: center;
  }

  .meet-me {
    background: #FF3E55;
    border-radius: .2rem;
    border-style: none;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
    color: white;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    font-weight: bold;
    height: 4rem;
    left: 12rem;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 0;
    position: relative;
    width: 20rem;
  }
}
