* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

/** CSS Grid Setup**/
.container {
  display: grid;
  grid-template-areas:
    "nav"
    "portfolio-intro"
    "projects"
    "footer";
    width: 90%;
    grid-template-rows: auto;
    grid-template-columns: 375px;
    overflow: hidden;

}

.nav ul {
  display: inline-flex;
  justify-content: space-between;
}

.navbar {
  grid-area: nav;
}

.portfolio-intro {
  grid-area: portfolio-intro;
}

.projects {
  grid-area: projects;
}

.footer {
  grid-area: footer;
}

/** Typography ( Roboto, Roboto Slab, & Playfair Display)**/
.slogan {
  font-family: 'Playfair Display', serif;
}

button {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family: 'Playfair Display', serif;
}

h2 {
  font-family: 'Playfair Display', serif;
}

h6 {
  font-family: 'Playfair Display', serif;
}

.project-description {
  font-family: 'Roboto', sans-serif;
}

.footer-text {
  font-family: 'Playfair Display', serif;
}

/** Icons for Footer**/
.fa-linkedin {
  color: black;
}

.fa-github-square {
  color: black;
}

.fa-instagram {
  color: black;
}

.fa-envelope {
  color: black;
}

.fa-behance-square {
  color: black;
}

/** Responsive**/
@media screen and (min-width: 40rem) {
  .container {
    margin: 0 10%;
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    margin: 0 10%;
    width: 80%;
  }
}
