* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

img {
  margin: 0 auto;
  width: 100%;
}

b {
  font-weight: bold;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

/** Hero image Section**/
.portfolio-intro {
  background-image: url(../images/heroimage2.png);
  display: flex;
  flex-direction: row-reverse;
  height: 37rem;
  justify-content: space-between;
  padding-top: 50px;
  width: 100%;
}

.manpreet {
  /*display: inline;*/
  display: none;
}

.main-text {
  margin: auto;
  margin-left: auto;
}

.slogan {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  margin-bottom: 2rem;
  padding-top: .5rem;
  width: 31rem;
}

.intro-text {
  color: #0E1F4F;
  display: inline;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: normal;
  margin-right: .6rem;
}



/** Projects Section**/
.work {
  background-image: url(../images/portfolio-rectangle.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 24% 12%;
  color: #0E1F4F;
  font-family: 'Playfair display', serif;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 5rem;
  text-align: center;
}

.cloud-storage {
  margin-left: auto;
  margin-right: auto;
}

.cloud-image {
  display: inherit;
  padding-bottom: 2rem;
  padding-top: 4rem;
  width: 100%;
}

h2 {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.project-description {
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.9rem;
  font-weight: lighter;
  line-height: 140%;
  padding-left: 2rem;
}

.view-case-study {
  background: #FF3E55;
  border-radius: .2rem;
  border-style: none;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
  height: 4rem;
  margin-bottom: 10rem;
  margin-left: 2rem;
  margin-top: 1.2rem;
  padding: 0;
  width: 18rem;
}

.view-case-study {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.view-case-study:hover {
  background-color: white;
  border-color: #FF3E55;
  border-style: solid;
  border-width: medium;
  color: #FF3E55;
}

/**Footer**/
.footer {
  background-image: url(../images/heroimage2.png);
  width: 100%;
}

.footer-title {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  text-align: center;
}

.footer-body {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight: normal;
  padding-top: .8rem;
  text-align: center;
}

.footer-text {
  text-align: center;
}

.meet-me {
  background: #FF3E55;
  border-radius: .2rem;
  border-style: none;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  color: white;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  font-weight: bold;
  height: 4rem;
  left: 12rem;
  left: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0;
  position: relative;
  width: 18rem;
}

.meet-me {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.meet-me:hover {
  background-color: white;
  border-color: #FF3E55;
  border-style: solid;
  border-width: medium;
  color: #FF3E55;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 2rem;
  position: relative;
  text-align: center;
  width: auto;
}

.fa-linkedin {
  color: black;
  font-size: 3rem;
}

.fa-github-square {
  color: black;
  font-size: 3rem;
}

.fa-instagram {
  color: black;
  font-size: 3rem;
}

.fa-envelope {
  color: black;
  font-size: 3rem;
}

.fa-behance-square {
  color: black;
  font-size: 3rem;
}

h6 {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-weight: lighter;
  padding-bottom: 1rem;
  text-align: center;
}

/** Responsive for ipad**/
@media screen and (min-width: 42rem) {

  /*top hero section*/
  .portfolio-intro {
    height: 48rem;
  }

  .main-text {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }

  .manpreet {
    display: none;
  }

  .slogan {
    font-size: 4rem;
    padding-bottom: 3rem;
    padding-top: .8rem;
    width: 45rem;
  }

  .intro-text {
    font-size: 4rem;
    margin-right: .5rem;
    padding-right: 0rem;
  }


  /*Projects*/
  .work {
    background-size: 13% 8%;
    font-size: 3.4rem;
    padding-top: 10rem;
  }

  .cloud-image {
    float: left;
    padding-bottom: 5rem;
    width: 50%;
  }

  h2 {
    font-size: 3.4rem;
    padding-bottom: 0rem;
    padding-top: 5rem;
  }

  .project-description {
    display: block;
    font-size: 2.4rem;
    line-height: 140%;
    padding-top: 1.2rem;
    width: auto;
  }

  .view-case-study {
    font-size: 1.8rem;
    height: 4rem;
    margin-left: auto;
    margin-top: 2rem;
    width: 20rem;
  }

  .cloud-storage {
    margin-top: 2rem;
  }

  /*Footer*/
  .footer-title {
    font-size: 2.4rem;
    padding-top: 4rem;
  }

  .footer-body {
    font-size: 2rem;
    padding-top: 1.5rem;
  }

  .meet-me {
    display: inline-block;
    font-size: 1.8rem;
    height: 4rem;
    margin-top: 1.2rem;
    width: 20rem;
  }

  .icons {
    display: flex;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
  }

  .fa-linkedin {
    font-size: 4rem;
  }

  .fa-github-square {
    font-size: 4rem;
  }

  .fa-instagram {
    font-size: 4rem;
  }

  .fa-envelope {
    font-size: 4rem;
  }

  .fa-behance-square {
    font-size: 4rem;
  }

  h6 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1024px) {

  /*top hero section*/
  .portfolio-intro {
    height: 50rem;
  }

  .main-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
  }

  .manpreet {
    clip-path: inset(2px 20px 0px 0px);
    display: inline;
    height: 100%;
    width: 100%;
  }

  .slogan {
    font-size: 4.5rem;
    padding-bottom: 3rem;
    padding-top: .8rem;
    width: 50rem;
  }

  .intro-text {
    font-size: 4.5rem;
    margin-right: .5rem;
    padding-right: 0rem;
  }


  /*Projects*/
  .work {
    background-size: 12% 8%;
    font-size: 4rem;
    padding-top: 10rem;
  }

  .cloud-image{
    float: left;
    padding-bottom: 5rem;
    width: 40%;
  }

  h2 {
    font-size: 3.4rem;
    padding-bottom: 0rem;
    padding-top: 5rem;
  }

  .project-description {
    display: block;
    font-size: 2.4rem;
    line-height: 150%;
    padding-top: 1.2rem;
    width: 90rem;
  }

  .view-case-study {
    font-size: 1.8rem;
    height: 4rem;
    margin-left: auto;
    margin-top: 2rem;
    width: 20rem;
  }

  .cloud-storage {
    margin-top: 2rem;
  }
}

/* Responsive for Desktop*/
@media screen and (min-device-width: 1200px) {

  /*top hero section*/
  .portfolio-intro {
    height: 73rem;
    padding-top: 5rem;
    width: 100%;
  }

  .main-text {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-top: 0rem;
    text-align: left;
  }

  .manpreet {
    clip-path: inset(2px 50px 0px 0px);
  }

  .slogan {
    font-size: 6rem;
    padding-bottom: 0rem;
    padding-top: .5rem;
    width: 68rem;
  }

  .intro-text {
    font-size: 6rem;
    padding-right: 1rem;
  }


  /*Projects*/
  .work {
    background-size: 10% 10%;
    font-size: 4.5rem;
    padding-top: 10rem;
  }

  .cloud-storage {
    margin-bottom: 10rem;
    margin-left: 10rem;
    margin-right: auto;
  }

  .cloud-image {
    float: left;
    padding-bottom: 5rem;
    width: 35%;
  }

  h2 {
    font-size: 5rem;
    padding-bottom: 0rem;
    padding-top: 5rem;
  }

  .project-description {
    display: block;
    font-size: 3rem;
    line-height: 130%;
    padding-top: 1.2rem;
    width: auto;
  }

  .view-case-study {
    font-size: 1.8rem;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2rem;
    width: 20rem;
  }

  .cloud-storage {
    margin-top: 5rem;
  }

  /*Footer*/
  .footer-title {
    font-size: 3rem;
    padding-top: 4rem;
  }

  .footer-body {
    font-size: 2.4rem;
    padding-top: 1.8rem;
  }

  .meet-me {
    display: inline-block;
    font-size: 1.8rem;
    height: 4rem;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 0;
    width: 20rem;
  }

  .icons {
    margin-top: 2rem;
  }

  .fa-linkedin {
    font-size: 4rem;
  }

  .fa-github-square {
    font-size: 4rem;
  }

  .fa-instagram {
    font-size: 4rem;
  }

  .fa-envelope {
    font-size: 4rem;
  }

  .fa-behance-square {
    font-size: 4rem;
  }

  h6 {
    font-size: 2rem;
  }

  .footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
  }
}

@media screen and (min-width: 87rem) {

  /*top hero section*/
  .portfolio-intro {
    height: 73rem;
    padding-top: 6rem;
  }

  .main-text {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: left;
  }

  .manpreet {
    clip-path: inset(0px 50px 0px 0px);
  }

  .slogan {
    font-size: 6rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    width: 65rem;
  }

  .intro-text {
    font-size: 6rem;
    padding-right: 1rem;
  }

  .name {
    font-size: 7rem;
  }

  /*Projects*/
  .work {
    background-size: 9% 10%;
    font-size: 4.5rem;
    padding-top: 10rem;
  }

    .cloud-image{
    float: left;
    padding-bottom: 5rem;
    width: 35%;
  }

  h2 {
    font-size: 5rem;
    padding-bottom: 0rem;
    padding-top: 5rem;
  }

  .project-description {
    display: block;
    font-size: 3rem;
    line-height: 130%;
    padding-top: 1.2rem;
  }

  .view-case-study {
    font-size: 1.8rem;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2rem;
    width: 20rem;
  }

  .cloud-storage {
    margin-left: 15rem;
    margin-top: 5rem;
  }

  /*Footer*/
  .footer-title {
    font-size: 3rem;
    padding-top: 4rem;
  }

  .footer-body {
    font-size: 2.4rem;
    padding-top: 1.8rem;
  }

  .meet-me {
    display: inline-block;
    font-size: 1.8rem;
    height: 4rem;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 0;
    width: 20rem;
  }

  .icons {
    margin-top: 2rem;
  }

  .fa-linkedin {
    font-size: 4rem;
  }

  .fa-github-square {
    font-size: 4rem;
  }

  .fa-instagram {
    font-size: 4rem;
  }

  .fa-envelope {
    font-size: 4rem;
  }

  .fa-behance-square {
    font-size: 4rem;
  }

  h6 {
    font-size: 2rem;
  }

  .footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
  }
}
