* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

img {
  margin: 0 auto;
  width: 100%;
}

/** CSS Grid Setup**/
.container {
  display: grid;
  grid-template-areas:
    "header"
    "portfolio-intro"
    "projects"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.header {
  grid-area: header;
}

.portfolio-intro {
  grid-area: portfolio-intro;
}

.projects {
  grid-area: projects;
}

.footer {
  grid-area: footer;
}

/** Hero image Section**/
.portfolio-intro {
  background-image: url(../images/heroimage2.png);
  display: flex;
  flex-direction: row-reverse;
  float: right;
  height: 22rem;
  justify-content: space-between;
  padding-top: 50px;
  width: 100%;
}

.manpreet {
  display: inline;
  float: left;
  height: 100%;
  width: 17rem;
}

.main-text {
  padding-right: .5rem;
  padding-top: 1rem;
}

.slogan {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
  left: 150px;
  line-height: 130%;
  padding-top: .6rem;
  padding-bottom: .8rem;
  top: 90px;
  width: 19rem;
}

.learn-more {
  background: #FF3E55;
  border-radius: .2rem;
  border-style: none;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  font-weight: bold;
  height: 2.5rem;
  padding: 0;
  width: 15rem;
}

.intro-text {
  color: #0E1F4F;
  display: inline;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  left: 150px;
  line-height: 100%;
  padding-right: .3rem;
  top: 65px;
  width: 188.89px;
}

.name {
  color: #0E1F4F;
  display: inline;
  font-style: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight: bold;
}

/** Projects Section**/
.work {
  background-image: url(../images/portfolio-rectangle.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 20% 20%;
  color: #0E1F4F;
  font-family: 'Playfair display', serif;
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 3rem;
  text-align: center;
}

.cloud-storage img {
  display: inherit;
  padding-bottom: 2rem;
  padding-top: 3rem;
  width: 80%;
}

h2 {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-weight: 700;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.project-description {
  color: #0E1F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  padding-left: 2rem;
}

.read-more {
  background: #FF3E55;
  color: white;
  border-radius: .2rem;
  border-style: none;
  font-size: 1.2rem;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  height: 2.5rem;
  margin-left: 2rem;
  margin-bottom: 10rem;
  margin-top: 1rem;
  padding: 0;
  width: 10rem;
}

/**Footer**/
.footer {
  background-image: url(/images/heroimage2.png);
  width: 100%;
}

.footer-title {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 2rem;
  text-align: center;
}

.footer-text {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-weight: normal;
  padding-top: .8rem;
  text-align: center;
}

.meet-me {
  background: #FF3E55;
  color: white;
  border-radius: .2rem;
  border-style: none;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  font-weight: bold;
  height: 2.5rem;
  left: 14rem;
  margin-top: 1rem;
  padding: 0;
  position: relative;
  width: 10rem;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 2rem;
  position: relative;
  text-align: center;
  width: auto;
}

.fa-linkedin {
  color: black;
  font-size: 3rem;
}

.fa-github-square {
  color: black;
  font-size: 3rem;
}

.fa-instagram {
  color: black;
  font-size: 3rem;
}

.fa-envelope {
  color: black;
  font-size: 3rem;
}

.fa-behance-square {
  color: black;
  font-size: 3rem;
}

h6 {
  color: #0E1F4F;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-weight: lighter;
  padding-bottom: 1rem;
  text-align: center;
}

/** Responsive for ipad**/
@media screen and (min-width: 42rem) {

  /*top hero section*/
  .container {
    margin: 0 auto%;
    width: 100%;
  }

  .portfolio-intro {
    height: 30rem;
    padding-top: 6rem;
  }

  .main-text {
    padding-right: 5px;
    padding-top: 2rem;
  }

  .manpreet {
    width: 35rem;
  }

  .slogan {
    font-size: 2.4rem;
    padding-bottom: .8rem;
    padding-top: 1rem;
    width: 38rem;
  }

  .learn-more {
    font-size: 1.6rem;
    height: 3.5rem;
    margin-top: 1.5rem;
    width: 20rem;
  }

  .intro-text {
    font-size: 3rem;
    padding-right: .5rem;
  }

  .name {
    font-size: 3rem;
  }

  /*Projects*/
  .work {
    background-size: 15% 20%;
    font-size: 2.4rem;
    padding-top: 4rem;
  }

  .cloud-storage img {
    float: left;
    padding-bottom: 5rem;
    padding-top: 4rem;
    width: 36%;
  }

  h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-left: 30rem;
    padding-top: 5rem;
  }

  .project-description {
    font-size: 1.8rem;
    line-height: 150%;
    padding-left: 30rem;
    padding-top: 1rem;
  }

  .read-more {
    font-size: 1.6rem;
    height: 3rem;
    margin-left: 2rem;
    margin-top: 2rem;
    padding: 0;
    width: 12rem;
  }

  .cloud-storage {
    margin-top: 2rem;
  }

  /*Footer*/
  .footer-title {
    font-size: 2.4rem;
    padding-top: 3rem;
  }

  .footer-text {
    font-size: 2rem;
    padding-top: 1.5rem;
  }

  .meet-me {
    font-size: 1.6rem;
    height: 3rem;
    left: 32rem;
    margin-top: 2rem;
    padding: 0;
    position: relative;
    width: 14rem;
  }

  .icons {
    margin: 5rem;
  }

  .fa-linkedin {
    font-size: 4rem;
  }

  .fa-github-square {
    font-size: 4rem;
  }

  .fa-instagram {
    font-size: 4rem;
  }

  .fa-envelope {
    font-size: 4rem;
  }

  .fa-behance-square {
    font-size: 4rem;
  }

  h6 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .footer {
    margin-top: 4rem;
  }
}

/** Responsive for Desktop- I will update this in the next responsive checkpoint**/
@media screen and (min-width: 1000px) {
  .container {
    *margin: 0 10%;
    width: 80%;
  }

  **/
